<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <sites> 
        <site>
            <url>http://www.url.com</url>
            <expectedreponselength>32</expectedreponselength>
        </site>
        <site>
            <url>http://www.url2.com</url>
            <expectedreponselength>32</expectedreponselength>
        </site>
    </sites>
    <mailserver>127.0.0.1</mailserver> 
    <recipients>
        <recipient>user@domain.com</recipient>
    </recipients>
</feed>